.popup-container {
  position: relative;
  z-index: -1;
  transition: z-index 0s 0.300s;
}
.popup-container > .bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.300s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  opacity: 0;
  cursor: pointer;
}
.popup-container > .popup-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 939px;
  height: 500px;
  margin: auto;
  background: #fff;
  transform: translateY(-1000px);
  transition: transform 0.300s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 102;
}
.popup-container > .popup-box .pop-header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.popup-container > .popup-box .pop-header h2 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin: 0px;
  font-weight: 200;
}
.popup-container > .popup-box .pop-header label[for="popup"] {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.popup-container > .popup-box .pop-header label[for="popup"] > svg {
  width: 100%;
  height: 100%;
}
#popup:checked ~ .popup-container {
  z-index: 2;
  transition: z-index 0s;
}
#popup:checked ~ .popup-container > .bg {
  opacity: 1;
}
#popup:checked ~ .popup-container > .popup-box {
  transform: translateY(0);
}