aside {
  display: flex;
  flex-direction: column;
  width: 194px;
  height: 100%;
  background: #fdcf00;
  transition-duration: .35s;
  transition-property: width;
  transition-timing-function: ease;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

aside .head {
  display: flex;
  justify-content: flex-end;
  height: 57px;
  padding: 15px;
  background-color: rgb(52, 52, 52);
}

aside .head svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer;
}

aside .head svg>path:nth-child(1) {
  display: none;
}

aside .head svg>path:nth-child(2) {
  display: block;
}

aside nav {
  margin-top: 17px;
}

aside nav li {
  position: relative;
  width: auto;
  height: 65px;
}

aside nav li {
  margin-top: 10px;
}

aside nav li+li {
  margin-top: 5px;
}

aside nav li:nth-child(2) {
  background: rgba(255, 255, 255, 0.4);
}

aside nav li>a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  font-weight: 300;
  line-height: 1.5em;
  background-color: transparent;
}

aside nav li>a svg {
  width: 35px;
  height: 35px;
}

aside nav li>a svg+span {
  display: block;
  margin-left: 17px;
  font-size: 15px;
  font-weight: bold;
  opacity: 1;
  transform: translateX(0);
  transition: transform 300ms ease 0s, opacity 300ms ease 0s, font-size 300ms ease 0s;
}

#toggle-aside:checked~aside .head>label {
  margin-right: 7px;
}

#toggle-aside:checked~aside {
  width: 69px;
}

#toggle-aside:checked~aside .head svg>path:nth-child(1) {
  display: block;
}

#toggle-aside:checked~aside .head svg>path:nth-child(2) {
  display: none;
}

#toggle-aside:checked~aside nav svg+span {
  opacity: 0;
  transform: translateX(-25px);
  font-size: 0;
}

.navigation>li>label {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 13px 30px 14px;
  border-radius: 23px;
  font-size: 15px;
  color: rgb(87, 79, 255);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.navigation>li>label:hover {
  background-color: rgb(238, 238, 238);
}

input#tab1:checked~#app label[for="tab1"],
input#tab2:checked~#app label[for="tab2"],
input#tab3:checked~#app label[for="tab3"] {
  background-color: rgb(87, 79, 255);
  color: rgb(255, 255, 255);
}

input#tab1:checked~#app .content1,
input#tab2:checked~#app .content2,
input#tab3:checked~#app .content3 {
  display: block;
}