.Template{
    width: 512px;
    margin: 4rem auto 0;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.title{
    padding: 2rem;
    background: #22b8cf;
    font-size: 2.5rem;text-align: center;font-weight: 100;color:#fff;
}
.form-wrapper{
    padding: 1rem;
    border-bottom:1px solid #22b8cf;
}
.todo-wrapper{min-height: 5rem;}
