.Post{
    padding:1rem;margin:1rem 0 2rem;
    background-color: #fafafa;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.Post h1{font-size:3rem;}
.Post p{font-size:2rem;}
