*{margin: 0;padding: 0;box-sizing: border-box;}
#wrap{width: 827px;height: 812px;padding: 10px 15px;}
legend{font-size: 12px;line-height: 14px;color: #333;}

table{width: 800px;height: 760px;border-top: 2px solid #999;margin-top: 13px; border-collapse: collapse;}
table>tbody>tr{border-bottom: 1px solid #ddd;}
table>tbody>tr>td{padding-left: 8px;}
table>tbody>tr>td:nth-child(1){background:#fafafa;font-size: 12px;line-height: 14px;color: #333;}

textarea{width: 325px;height: 75px;}
input, textarea, select, label{font-size: 12px;line-height: 15px;}
input, textarea, label{color: #666;}
select{color: #333;}
#select02{width: 79px;height: 61px;}
.input-line-break{display: block;}
.hidden{display: none;}
.label-clear-box{position: relative;}
input.label-clear{width: 310px;height: 22px;}
.label-clear{vertical-align: top;}
.label-clear + label{position: absolute;left: 7px;top: 4px;color: #8c8c8c;}
.label-clear:focus + label{display: none;}
.label-clear.not_empty + label{display:none;}
