*{margin:0;padding:0;}
ul{list-style: none;}
a{text-decoration: none;color:#000;}
a:hover{text-decoration: underline;}

body{background: #000;}
.mask{
    position: absolute;
    width: 100%;height: 100%;
    display: flex;
    justify-content: center;align-items: center;flex-direction: column;
    background: #000;
    transition: 0.5s;
    filter: blur(135px);
}
#starting_logo{
    height: 132px;
    overflow: hidden;
    transform: rotateZ(-17deg);
}
#starting_logo>img{width: 383px;height: 132px;}
#play{
    visibility: hidden;
    width: 60px;height: 60px;
    margin-top:55px;
    background: #fff;
    border-radius: 50%;
}
#play::before{
    content: '';
    position: absolute;
    margin-top: 10px;margin-left: 21px;
    border-color: transparent transparent transparent #000;
    border-width: 20px 0 20px 25px;
    border-style: solid;
}

#logo{display: none;}
