* {
  user-select: none;
  box-sizing: border-box;
  margin:0;padding:0;
}
#canvas {
  border: 1px solid #000;
  position: absolute;
  box-sizing: border-box;
}
#where {
  position: absolute;
  z-index: 99999;
  color: #000;
  font-size: 20px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#Color_box{
  width: 30px;height: 30px;
  border: 1px solid #000;
  margin-top: 7px;
  display: inline-block;
  background: black;
}
#Color_set{
  position: absolute;
  width: 285px;height: 330px;
  padding: 14px;
  background:white;
  border:1px solid #000;
}
#Color_set>canvas{
  width: 255px;
  float: left;
  border: 1px solid #000;
}
#Color_set> #Choice_color{
  height: 15px;
}
#Color_set> #Choice_bw{
  height: 255px;
  margin-top: 15px;
}
#thumb{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 11.4px;
  border: 2.4px solid #fff;
  cursor: pointer;
}
