* {
  user-select: none;
  box-sizing: border-box;
}
#canvas {
  border: 1px solid #000;
  position: absolute;
  box-sizing: border-box;
}
#where {
  position: absolute;
  z-index: 99999;
  color: #000;
  font-size: 20px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#Color_box{
  width: 30px;height: 30px;
  border: 1px solid #000;
  margin-top: 7px;
  display: inline-block;
  background: black;
}
#Color_set{
  position: absolute;
  width: 285px;height: 330px;
  border: 1px solid #000;
  padding: 14px;
}
#Color_set>canvas{
  width: 255px;
  float: left;
  border: 1px solid #000;
}
#Color_set> #Choice_color{
  height: 25px;
}
#Color_set> #Choice_bw{
  height: 255px;
  margin-top: 15px;
}

#range{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 255px;
  height: 25px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 255px;
  height: 25px;
  background: linear-gradient(to right, rgb(255, 0, 0) , rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 0, 0));
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: red;
    margin-top: -4px;
}
